.genre-label {
    margin: 2px;
    padding: 2px 4px;
}

.rate-number {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px;
    text-align: center;
    width: 30px;
    height: 30px;
    border: solid 2px #E90000;
    border-radius: 50%;
}

.rate-scale {
    position: absolute;
    bottom: 4px;
}

.not-found-message {
    margin-top: 30%;
    text-align: center;
}

.card-title {
    margin-right: 30px;
}

.card {
    padding-bottom: 24px;
    
}
.ant-pagination, .ant-pagination ol, .ant-pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}


    
  